Include/
Lib/
Scripts/
pyvenv.cfg
user_registration_api/*.txt
user_registration_api/__pycache__/
user/migrations/__pycache__/
user/__pycache__/
frontend/node_modules/
frontend/user-registration-site/node_modules